git+https://github.com/LACMTA/mkdocs-material-insiders.git
mkdocs-material
mkdocs-git-revision-date-plugin
mkdocs-encryptcontent-plugin
mkdocs-htmlproofer-plugin
mkdocs-autorefs
mkdocs-macros-plugin     
mkdocs-table-reader-plugin
pymdown-extensions
mkdocs-awesome-pages-plugin
